body {
  font-family: Arial;
  background-color: rgb(252, 168, 120);

}

#intro-title {
  font-family: BILLO;
  color: rgb(60, 60, 245);
  font-size: 90px;
  display: center;
}


#ingresar {
  font-family: Reglisse;
  font-size: 40px;
  display: center;
}

.oculto {
  display: none;
}
