body {
  font-family: Arial;
  background-color: rgb(252, 168, 120);
}

.oculto {
  display: none !important;
}

h1{
  font-family: BILLO;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 1px;
  border: 1px solid black;
}
.hoja{
  position: relative;
  width: 90vw;
  margin: auto;
  border: 1px solid rgb(255, 0, 0);
}

.hoja-cuaderno{
  width: 60vw;
  max-width: 100%;
  height: auto;
  margin: -80px auto;
  display: block;
  transform-origin: center center;
  transform: rotate(90deg);
  filter: brightness(120%);
  opacity: 80%;
  z-index: 1;
  border: 1px solid rgb(22, 5, 255);
}

#tabla-categorias {
  border: 1px solid yellow;
  margin: -440px 20px;
  width: 95%;
  position: absolute;
  z-index: 10;

}

#tabla-categorias th{
  text-align: center;
  border-right: 1px solid rgb(0, 0, 0.3);
  font-weight: lighter;
  margin-left: 0;
  border-left: 0;
  padding: 0.5vh 0.3vw;
  border: 3px solid green;
}

#tabla-categorias td {
  text-align: center;
  padding: 0.5vh 0.3vw;
  border: 1px solid black;
}

#cuerpo-tabla, #encabezado{
  position: sticky;
  margin-top: -450px;
  z-index: 2;
  border-spacing: 10px 0;
  text-align: center;
  background: transparent;
  font-family: Litte Salty;
  font-weight: lighter;
  font-size: 1.5vw;

}

/* th{
  transform: rotate(-10deg);
} */

#tabla-categorias input {
  width: 95%;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  font-size: 1.2rem;
  outline: none;
  font-family: Litte Salty;
}

#ruleta {
  position: fixed;
  top: 40vh;
  left: 40vw;
  max-width: 500px;
  max-height: 500px;
  border-radius: 10px;
  background-color: rgb(232, 115, 61);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

#presiona-tecla{
  font-family: Baby Doll;
}
