body {
  font-family: Arial;
  background-color: rgb(252, 168, 120);

}
.oculto {
  display: none !important;
}

#tutti-frutty-inicio {
  font-family: BILLO;
  color: rgb(60, 60, 245);
  font-size: 90px;
  display: center;
}


#ingresar {
  font-family: Reglisse;
  font-size: 40px;
  display: center;
}


#letra-ruleta{
  font-family: reglisse;
  font-size: 200px;
  margin: none;
  padding: none;
}

.hoja{
  position: relative;
  width: 90vw;
  margin: 0 auto;
}

img{
  width: 60vw;
  max-width: 100%;
  height: auto;
  margin: 5vh auto;
  display: block;
  transform-origin: center center;
  transform: rotate(90deg);
  filter: brightness(120%);
  opacity: 80%;
  z-index: 1;
}

#tabla-categorias th{
  border-right: 1px solid rgb(0, 0, 0.3);
  font-weight: lighter;
  padding-right: 5px;
  padding-left: 0;
  margin-left: 0;
  border-left: 0;
}

#categorias{
  position: sticky;
  top: 20px;
  margin: 0 auto;
  z-index: 2;
  border-spacing: 12px 0;
  text-align: center;
  background: transparent;
  font-family: Litte Salty;
  font-weight: lighter;
  font-size: 1.5vw;

}

/* th{
  transform: rotate(-10deg);
} */


#tabla-categorias input {
  width: 95%;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  font-size: 1.2rem;
  outline: none;
  font-family: Litte Salty;
}

#ruleta {
  position: fixed;
  top: 40vh;
  left: 40vw;
  max-width: 500px;
  max-height: 500px;
  border-radius: 10px;
  background-color: rgb(232, 115, 61);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

#presiona-tecla{
  font-family: Baby Doll;
}
